@import "./styles/nav.module.scss";

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--light);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.panel {
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--foreground-rgb);
  color: var(--background-rgb);
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 2rem;

  p:nth-child(4) {
    margin: 2rem 0 0rem;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;

    li:nth-child(even) {
      background-color: var(--lightest);
    }

    li:nth-child(odd) {
      background-color: var(--secondary-rgb);
    }
  }
}

.tshirt_image {
  height: auto;
  width: 100%;
}

.form ul {
  label {
    align-items: center;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr minmax(100px, 140px);
    margin: 0.5rem .5rem .5rem 1rem;
        
    span {
      color: var(--secondnary-rgb);
    }
  }
}

@media (min-width: 544px) {

  .form ul label {
    grid-template-columns: 2fr .5fr 2fr;
  }
}

.form input {
  height: 3rem;
  padding: 1rem;
  width: 100%;
}

.form button {
  padding: .5rem;
  flex: 1;
  margin-top: 1rem;
}

.price {
  color: var(--primary-darker);
  font-size: .75rem;
}

@media (prefers-color-scheme: dark) {

  .footer {
    border-color: var(--dark);
  }
}
