@import "./styles/nav.module.scss";

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid var(--light);
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.panel {
  padding: 1rem;
  margin: 1rem 0;
  background-color: var(--foreground-rgb);
  color: var(--background-rgb);
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

.form ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.form ul label {
  display: grid;
  grid-template-columns: 3fr 1fr 2fr;
  grid-gap: 2rem;
  margin: .5rem;
  max-width: 30vw;
}

.form input {
  height: 3rem;
  padding: 1rem;
  width: 100%;
}

.form button {
  padding: .5rem;
  flex: 1;
  margin-top: 1rem;
}

@media (prefers-color-scheme: dark) {

  .footer {
    border-color: var(--dark);
  }
}
