.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.grid3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(33%, auto));
  width: var(--max-width);
  max-width: 100%;
  row-gap: 20%;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(45%, auto));
  width: var(--max-width);
  max-width: 100%;
  gap: 10%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 60vw;
}

/* Mobile and Tablet */
@media (max-width: 1023px) {
  .content {
    padding: 4rem;
  }

  .grid2,
  .grid3 {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
    gap: 1rem;
  }

  .center {
    padding: 8rem 0 6rem;
  }

  .section h2 {
    align-self: center;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}